.board-container{
  width: 500px;
  height: 100vh;
  margin: auto;
 /* border: 2px solid red; */
 display: flex;
 flex-direction: column;
 justify-content: center;
}
.board-row{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  gap: 3px;
  
}
.square{
  cursor: pointer;
  height: 50px;
  width: 50px;
  border: 2px solid black;
  font-size: 22px;
display: flex;
justify-content: center;
align-items: center;  
  background-color: rgb(252, 252, 32);
}
.square:hover{
  background-color: rgb(26, 65, 52);
  color: whitesmoke;
}
.playAgainSection{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.playAgainSection button{
  height: 40px;
  width: 140px;
  border: none;
  outline: none;
  font-size: 15px;
  color: whitesmoke;
  background-color: rgb(26, 65, 52);
}